body {
  background-color: #93B7BE;
  padding: 20px;
}

#calculator {
  background-color: #554348;
  padding: 20px;
  width: 390px;
  margin: auto;
  border-radius: 20px;
}

#display {
  background-color: whitesmoke;
  padding: 10px;
  text-align: end;
  border-radius: 20px;
  font-size: 24px;
  color: #554348;
  height: 40px;
  line-height: 40px;
}

#keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.key {
  color: #D4F5F5;
  background-color: #554348;
  width: 90px;
  height: 90px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}